# KNN (K-Nearest Neighbors) Classifier

## Inroduction

KNN is a supervised classification algorithm.

the KNN algorithm is :

for new point $x$ :
1. choose $k$ - number of closest neighbors, (predicttion is based on $k$).
1. calculate the distance from $x$ to all points
2. sort points by distnace from $x$ in ascending order.
3. predict the majority label of the $k$ closest points.

![alt text](./knn.png "title")

as we can see :

> if we will choose $k=3$, then for the new point $?$, the predicted class will be B.

> if we will choose $k=7$, then for the new point $?$, the predicted class will be A.

## Predictions and Evaluations

let start explore the data from the file ```KNN.csv```

### import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### get the data

In [2]:
df = pd.read_csv('KNN.csv')

In [3]:
df.head()

,XVPM,GWYH,TRAT,TLLZ,IGGA,HYKR,EDFS,GUUB,MGJM,JHZC,TARGET CLASS
0,1636.670614,817.988525,2565.995189,358.347163,550.417491,1618.870897,2147.641254,330.727893,1494.878631,845.136088,0
1,1013.402760,577.587332,2644.141273,280.428203,1161.873391,2084.107872,853.404981,447.157619,1193.032521,861.081809,1
2,1300.035501,820.518697,2025.854469,525.562292,922.206261,2552.355407,818.676686,845.491492,1968.367513,1647.186291,1
3,1059.347542,1066.866418,612.000041,480.827789,419.467495,685.666983,852.867810,341.664784,1154.391368,1450.935357,0
4,1018.340526,1313.679056,950.622661,724.742174,843.065903,1370.554164,905.469453,658.118202,539.459350,1899.850792,0

### EDA (Exploratory data analysis)

In [4]:
df

,XVPM,GWYH,TRAT,TLLZ,IGGA,HYKR,EDFS,GUUB,MGJM,JHZC,TARGET CLASS
0,1636.670614,817.988525,2565.995189,358.347163,550.417491,1618.870897,2147.641254,330.727893,1494.878631,845.136088,0
1,1013.402760,577.587332,2644.141273,280.428203,1161.873391,2084.107872,853.404981,447.157619,1193.032521,861.081809,1
2,1300.035501,820.518697,2025.854469,525.562292,922.206261,2552.355407,818.676686,845.491492,1968.367513,1647.186291,1
3,1059.347542,1066.866418,612.000041,480.827789,419.467495,685.666983,852.867810,341.664784,1154.391368,1450.935357,0
4,1018.340526,1313.679056,950.622661,724.742174,843.065903,1370.554164,905.469453,658.118202,539.459350,1899.850792,0
5,1587.993461,667.420121,2072.048544,364.624958,905.011385,2229.178514,880.442566,568.698408,645.719217,2156.949990,1
6,1497.293624,822.435853,908.059366,671.797517,1280.270442,1910.066313,1052.812386,713.757499,703.951632,1088.493788,0
7,1172.820769,1166.958461,455.656588,445.572745,1109.894585,1045.551452,1301.821786,264.940137,945.023932,2307.922229,0
8,839.494647,1089.747059,653.699894,659.334590,1529.725972,1521.320489,1401.676227,433.025043,1289.063583,1690.149835,0
9,1028.689140,202.089774,1030.841860,429.109102,943.104815,1978.506855,653.178512,753.655291,1336.375960,1057.864848,1
10,1042.945431,826.009900,741.518594,548.237381,1528.675999,2045.541016,870.245199,495.177338,1452.401331,1814.555350,0
11,715.533949,768.001549,1513.342810,95.995876,1281.787242,1090.217180,1982.211252,465.589381,914.055858,872.705660,1
12,747.291672,686.633284,1616.229550,511.187764,1134.462664,795.097388,1990.580165,117.923416,1325.204825,1377.789557,1
13,1283.507423,431.894668,1546.932746,561.885634,525.956592,867.627120,595.690573,458.891368,1299.239680,1056.137311,0
14,520.803032,804.054262,1758.460120,485.304401,1130.508717,1303.730111,2076.521050,962.861165,773.552380,314.471215,1
15,873.129617,452.918372,2502.381633,473.005027,1104.841980,962.953843,2442.336841,426.760687,1018.262154,1416.744985,1
16,788.743418,1074.643318,1590.149211,352.876013,264.318910,2044.646303,497.956076,509.536209,967.398479,921.143209,0
17,1656.397158,1246.507359,819.564695,759.176657,1177.173127,1138.812756,2028.880845,774.385137,1220.454072,1511.862543,0
18,1659.985069,564.261480,1330.514249,351.212679,1133.611093,1401.643495,1537.033328,185.944509,704.436036,1530.576756,1
19,977.970511,1256.551409,1296.039273,446.883756,856.889614,2207.645059,1144.668238,304.050293,385.652365,1098.520412,0
20,1590.953919,1642.642026,1441.558864,452.355252,1185.151256,1271.075752,1601.723480,33.795840,1393.799311,1367.835696,0
21,925.510081,1208.215974,1535.052971,348.723685,822.428045,1000.350732,3147.852887,587.195328,1566.304705,655.502938,1
22,1112.177643,1299.353372,3088.971728,482.290683,976.809411,1977.667013,1436.432496,438.609710,921.452256,2222.724330,1
23,869.276572,1553.333984,627.141983,713.373251,907.852126,1211.430751,1962.229486,553.477759,1610.411277,1565.093030,0
24,1004.468897,352.752672,1837.076385,383.005294,1251.250803,1059.642491,1577.967851,372.555409,501.924521,1404.127800,1
25,1195.067484,309.873188,1427.623387,481.560333,1181.589813,978.204750,1625.921357,306.092810,702.790699,1402.234683,1
26,727.158656,761.818119,665.342108,522.930787,1187.126255,1536.237430,1892.641705,326.881718,1097.684197,724.541326,0
27,969.205367,1222.820168,458.071485,277.527595,973.021138,1750.078691,2820.497566,610.936757,892.000885,1506.187758,0
28,1379.823388,587.750305,1652.746728,637.349320,1171.338396,1311.619008,282.971106,705.405597,723.418855,1157.365009,0
29,1528.677741,1030.704153,377.763469,460.892551,618.918243,1813.189429,1180.293065,392.221691,788.747156,1116.096121,0
...,...,...,...,...,...,...,...,...,...,...,...
970,1067.094782,1400.263470,462.956416,414.528236,757.106327,2272.995872,1331.411325,715.705573,1002.077881,2412.339373,0
971,1169.729647,1343.552791,476.291005,515.018777,755.070227,1845.235654,2688.856705,539.274440,1222.044148,1961.639993,0
972,1395.112643,877.026618,1930.405078,420.840246,1135.372934,2509.165507,1968.681370,371.369654,1690.016625,775.185964,1
973,1213.701723,1923.503348,463.006318,528.332521,646.820247,1110.083946,1181.804382,582.085677,988.787210,1470.102863,0
974,187.245121,753.291558,2184.816390,428.487582,1257.843352,1159.006875,1696.056666,416.114581,1113.386299,1379.973286,1
975,642.274662,1598.395843,1983.678827,536.420391,905.944502,498.784153,1110.921457,772.203271,491.121962,1241.820296,0
976,1160.130178,1424.882986,2685.683839,388.966098,1521.797380,1770.177167,762.467337,471.721305,895.744178,2122.102493,1
977,788.405727,1540.604940,1156.776118,786.797682,727.942977,1377.910493,890.221330,596.385475,1200.185953,1302.693882,0
978,561.382416,1527.646178,1573.555631,519.787877,740.784615,1535.443415,846.099313,175.673929,935.530043,1104.199622,0
979,1113.616465,977.003126,2071.369219,499.248340,740.962062,1717.702762,760.558275,540.132848,128.823405,1664.630878,1
980,635.381025,342.779369,1644.051697,399.739271,1083.412274,1209.661099,1940.133502,283.145862,1607.024857,1192.320015,1
981,1252.147212,1020.212582,1522.005721,472.940776,717.271901,1574.411245,710.606998,971.925921,164.730239,2053.706571,0
982,1491.461635,848.390472,1383.572563,676.906521,673.043524,857.023038,2213.186443,316.254774,1036.654869,1462.742589,0
983,1376.039864,619.244435,1784.958801,564.174930,884.468806,1174.706947,1833.201813,288.685116,550.313155,829.826886,1
984,1374.066826,1025.674843,1970.559967,293.887740,755.154441,1337.375630,2023.491722,283.476606,513.744814,2388.334919,1
985,1545.482978,557.860668,2185.376904,308.091803,834.956145,1429.811886,641.268304,384.967569,1039.283022,2351.835273,1
986,1082.365554,1403.686759,1079.668873,347.016942,287.122764,1589.432044,2632.735557,397.224237,920.893494,1490.829411,0
987,1041.256157,660.415840,1684.855524,588.532181,621.133694,737.772249,2807.017634,565.940326,1440.073546,1649.594961,1
988,1429.763548,624.051699,2591.180052,679.979205,1211.859421,1111.011866,1116.664495,622.130551,770.372347,1541.994763,0
989,951.766628,220.419796,2131.858934,428.929439,536.440787,1492.014960,2384.542899,695.003531,932.656294,1479.051906,1
990,1679.656397,676.152325,1639.431940,671.864999,422.011608,1433.465085,773.871461,780.717230,1618.536125,1342.940621,1
991,897.886819,293.452765,1836.608971,590.701800,935.558708,1940.276148,1575.641606,466.978766,1253.100727,745.270913,1
992,876.207147,674.848136,2229.222535,363.401654,736.514750,585.324937,1454.755800,476.318492,389.619465,1376.154408,1
993,1044.078216,511.730506,1471.606457,463.401379,1439.383352,2037.838682,1358.948399,313.453594,732.380803,1506.777885,1
994,648.691126,1188.990869,1990.331285,421.104504,492.477943,1031.621014,1656.188285,1339.850756,767.694055,1893.656164,0
995,1343.060600,1289.142057,407.307449,567.564764,1000.953905,919.602401,485.269059,668.007397,1124.772996,2127.628290,0
996,938.847057,1142.884331,2096.064295,483.242220,522.755771,1703.169782,2007.548635,533.514816,379.264597,567.200545,1
997,921.994822,607.996901,2065.482529,497.107790,457.430427,1577.506205,1659.197738,186.854577,978.340107,1943.304912,1
998,1157.069348,602.749160,1548.809995,646.809528,1335.737820,1455.504390,2788.366441,552.388107,1264.818079,1331.879020,1
999,1287.150025,1303.600085,2247.287535,664.362479,1132.682562,991.774941,2007.676371,251.916948,846.167511,952.895751,1

In [5]:
sns.set(style="ticks", color_codes=True)

In [ ]:
sns.pairplot(df)

### Standardize the Variables

> because KNN is relies on majority based class of $k$ nearest points, it is better to scale data, using standart scaler.

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
features = df.drop('TARGET CLASS', axis=1)

scaler.fit(features)

In [ ]:
scaled_features = scaler.transform(features)

In [ ]:
X = pd.DataFrame(scaled_features, columns=df.columns[:-1])

In [ ]:
y = df['TARGET CLASS']

### Train and Split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

### KNN prediction

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=1)

In [ ]:
knn.fit(X_train, y_train)

In [ ]:
predictions = knn.predict(X_test)

### Evaluation

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(predictions, y_test))

we can see that accuracy is $0.74$

### chosing $k$ value

In [ ]:
error_rates = []
for i in range(1,40):
    model = KNeighborsClassifier(n_neighbors=i)
    model.fit(X_train, y_train)
    pred_i = model.predict(X_test)
    error_rates.append(np.mean(pred_i != y_test))

In [ ]:
sns.lineplot(x=range(1,40), y=error_rates)

In [ ]:
np.argmin(error_rates)

 we can see that the best $k$ with the minimum error rate is 25.

### Repeat prediction with $k=25$

In [ ]:
knn = KNeighborsClassifier(n_neighbors=25)

In [ ]:
knn.fit(X_train, y_train)

In [ ]:
predictions = knn.predict(X_test)

In [ ]:
print(classification_report(predictions, y_test))

with $k=25$, the accuracy is $0.82$.